@import './variables.scss';

@font-face {
  font-family: 'iconfont';  /* Project id 2818761 */
  src: url('//at.alicdn.com/t/font_2818761_ml8vmed0mul.woff2?t=1645849640139') format('woff2'),
       url('//at.alicdn.com/t/font_2818761_ml8vmed0mul.woff?t=1645849640139') format('woff'),
       url('//at.alicdn.com/t/font_2818761_ml8vmed0mul.ttf?t=1645849640139') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  color: $icon-color;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}