@import './variables.scss';

@font-face {
  font-family: 'iconfont';  /* Project id 2818761 */
  src: url('//at.alicdn.com/t/font_2818761_ofgydo1xo8q.woff2?t=1640746999550') format('woff2'),
       url('//at.alicdn.com/t/font_2818761_ofgydo1xo8q.woff?t=1640746999550') format('woff'),
       url('//at.alicdn.com/t/font_2818761_ofgydo1xo8q.ttf?t=1640746999550') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    color: $icon-color;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}