@import './iconfont.scss';
@import './customize_elementPlus.scss';

/* 默认 rem 相对字体大小 */
html{
    font-size: 100px;
}

/* body 样式更改 */
body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
    perspective: 800px;
    transform-style: preserve-3d;
    position: relative;
}

/* 去除点击时的蓝色背景*/
* {
    -webkit-tap-highlight-color: transparent;
}