$base-bgColor: #fff;    /* 基本颜色(白) */
$tips-fontColor: #ffffffd5;  /* 提示信息字体颜色 */
$icon-color: #ffffff; /* 图标基本色 */
$base-fontColor: #303133;   /* 文字基本色 */
$lighter-fontColor: #909399; /* 文字基本色（浅灰） */
$devider-color: #f7c1c123;    /* 分割线颜色 */
$placeholder-color: #c0c4cc;  /* 输入框提示文本颜色 */